#oeasy{
    font-size:40px;
    background:lightblue;
    color:darkblue;
    float:left;
}
#o2z{
    font-size:30px;
    background:lightgreen;
    color:darkgreen;
    float:left;
}
#o3z{
    font-size:20px;
    background:pink;
    color:red;
    float:left;
}
